# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Build outputs
[Bb]uild/
[Bb]uilds/

# Visual Studio
.vs/
*.csproj
*.sln
*.user

# Rider
.idea/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store